.ImgContainer {
    width:95%;
    height: 150px;
    overflow: hidden;
    }
    
    .imgSize {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }



    .checkbox-wrapper-4 * {
        box-sizing: border-box;
    }

    .checkbox-wrapper-4 .cbx {
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        padding: 6px 8px;
        border-radius: 6px;
        overflow: hidden;
        transition: all 0.2s ease;
        display: inline-block;
    }

    .checkbox-wrapper-4 .cbx:not(:last-child) {
        margin-right: 6px;
    }

    .checkbox-wrapper-4 .cbx:hover {
        background: rgba(0, 119, 255, 0.06);
    }

    .checkbox-wrapper-4 .cbx span {
        float: left;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
    }

    .checkbox-wrapper-4 .cbx span:first-child {
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        transform: scale(1);
        border: 1px solid #cccfdb;
        transition: all 0.2s ease;
        box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
    }

    .checkbox-wrapper-4 .cbx span:first-child svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
    }

    .checkbox-wrapper-4 .cbx span:last-child {
        padding-left: 8px;
        line-height: 18px;
    }

    .checkbox-wrapper-4 .cbx:hover span:first-child {
        border-color: #07f;
    }

    .checkbox-wrapper-4 .inp-cbx {
        position: absolute;
        visibility: hidden;
    }

    .checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
        background: #07f;
        border-color: #07f;
        animation: wave-4 0.4s ease;
    }

    .checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
        stroke-dashoffset: 0;
    }

    .checkbox-wrapper-4 .inline-svg {
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        user-select: none;
    }

    @media screen and (max-width: 640px) {
        .checkbox-wrapper-4 .cbx {
            width: 100%;
            display: inline-block;
        }
    }

    @-moz-keyframes wave-4 {
        50% {
            transform: scale(0.9);
        }
    }

    @-webkit-keyframes wave-4 {
        50% {
            transform: scale(0.9);
        }
    }

    @-o-keyframes wave-4 {
        50% {
            transform: scale(0.9);
        }
    }

    @keyframes wave-4 {
        50% {
            transform: scale(0.9);
        }
    }



    p#TextSub{
        font-size: clamp(1rem, 2.1vw, 1.2rem); 
    }

    p#TextTime{
        font-size: clamp(1rem, 2.1vw, 1.2rem); 
    }


    .checkbox-wrapper-4#CateText{
        font-size: clamp(0.8rem, 1.4vw, 0.9rem); 
        word-wrap: break-word;
    }
    
/* CSS */
.button-31 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 15px 6px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 80%;
  }
  
  .button-31:hover,
  .button-31:focus {
    opacity: .75;
  }
  

  
  /* CSS FOR MODAL IMAGES V  */

  
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
input[type="submit"]#request {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {display: block;}